@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --color-primary: #2F80ED;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: #EDF3FD;
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

    --confirmed: #4caf50;
    --pending: #ffb400;
    --cancelled: #f44336;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Roboto, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {

    font-size: 1.4rem;
}

h2 {

    font-size: 0.87rem;
}

h4 {

    font-size: 0.8rem;
}

h5 {
    font-size: 0.77rem;
}

small {
    font-size: 0.75rem;
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

aside {
    display: flex;
    max-height: fit-content;
    flex-direction: column;
    background-color: white;
    width: 14rem;
    border-radius: var(--border-radius-3);
    margin: 2rem 0;
    padding: 1rem 0;
    overflow: auto;
}

aside .top {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

side .sidebar {
    background: white;
    display: flex;
    flex-direction: column;

}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child {
    color: var(--color-info-dark);
    transition: all 200ms ease;
}

aside .sidebar a:last-child:hover {
    color: var(--color-danger);
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: '';
    width: 0px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary) !;
    margin-left: 0;
    border-radius: var(--border-radius-2);
}

aside {
    width: 18rem;
}

aside .sidebar {
    padding: 0 1.2rem;
}

.container {
    display: grid;

    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}

.container {
    grid-template-columns: 18rem auto 5rem;
}

.container {
    padding: 0;
}

.container {
    margin: 1rem;

}

.top {
    display: none;
}

#close-btn {
    text-align: center;
    width: 17rem;
    margin-bottom: 20px;
    color: red;
}




@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto;
    }

    aside .sidebar h3 {
        display: none;
    }


    main .widget-container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    aside {
        width: auto;
    }

    aside .sidebar a {
        gap: 0;
        margin-left: 0;
        justify-content: center;
    }

    aside .sidebar a.active span {
        margin-left: 0;
    }
}

aside .close {
    display: none;
}


button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}





button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .top {
        display: block;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    #menu-btn {
        margin-left: -20px;
        padding: 10px 20px;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }




    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        gap: 1rem;
    }




    aside .close {
        display: inline-block;
        cursor: pointer;

    }

    .container {
        gap: 0;
    }

    main {
        margin-top: 0;
        padding: 0 1rem;
    }

    #menu-btn {
        margin-left: -20px;
        padding: 10px 20px;
    }

    aside {
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
        display: none;
        animation: showMenu 400ms ease forwards;
    }

    aside .close {
        display: inline-block;
        cursor: pointer;
    }


}




main .widget-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 15px;
}

.widget-container {
    justify-content: space-between;
    width: 100%;
}

main .widget-container>div {
    background: var(--color-white);
    padding: var(--card-padding);
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    /* box-shadow: var(--box-shadow); */
    transition: all 300ms ease;
}

.widget {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 30px;
    min-width: 280px;
}

.value {
    font-size: 2.8rem;
    font-weight: bold;
    color: #373737;
}

.extra {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    margin-top: 5px;
    color: #4caf50;
}

.icon {
    width: 100px;
    height: 100px;
    background: #e8f5f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-shrink: 0;
}

.icon svg {
    width: 50px;
    height: 50px;
}

.extra .manager {
    color: #6c6c6c;
    margin-top: 2px;
}

.manager {
    font-size: 20px;
}