/* ======= General ======= */
:root {
    scroll-behavior: smooth;
}

body {
    background-color: #f7f7f9;
    font-family: var(--bs-body-font-family) !important;
}

/* ======= Header ======= */
header {
    margin-bottom: 1rem;
}

.icon {
    font-size: 2rem;
}

/* ======= Sidebar =======  */
#sidebar {
    height: 280px;
    width: 220px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#sidebar .nav-link {
    font-size: 1.1rem;
    margin-bottom: 10px;
    padding-left: 20px;
    color: black;
}

#sidebar .nav-link:hover {
    background-color: #007bff;
    color: white;
}

#sidebar .nav-pills .nav-link.active {
    background-color: #007bff;
    color: white;
}

/* ======= Dashboard =======  */
#dashboard {
    margin-right: 1.5rem;
}

/* Filter */
#dashboard .filter {
    position: absolute;
    right: 0px;
    top: 18px;
}

#dashboard .filter .icon {
    color: #aab7cf;
    padding-right: 20px;
    padding-bottom: 5px;
    transition: 0.3s;
    font-size: 16px;
}

#dashboard .filter .dropdown-header h6 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #aab7cf;
    margin-bottom: 0;
    padding: 0;
}

#dashboard .filter .dropdown-item {
    padding: 8px 15px;
}

/* End of filter */
#dashboard .card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}

.card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
}

.card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}

/* Total Rooms */
#dashboard .total-rooms .card-icon {
    background-color: #f6f6fe;
}

/* Available Rooms */
#dashboard .ava-room .card-icon {
    background-color: #e0f8e9;
}

/* Average Rating */
#dashboard .avg-rating .card-icon {
    background-color: #fff3d6;
}

/* Fix this later */
.card-title {
    width: auto;
}
