html {
    height: 100%;
    overflow: hidden;
}

:root {
    --main-font: 'Outfit', sans-serif;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(21, 3, 59); 
    overflow: hidden; 
    margin: 0;
    font-family: var(--main-font);
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2; 
    backdrop-filter: blur(5px); 
    opacity: 0.8;
}

.meteor {
    z-index: 1;
    position: absolute;
    width: 2.5px;
    height: 60px;
    border-radius: 100px;
    background: linear-gradient(to bottom, rgba(211, 211, 255, 0), rgba(211, 211, 255, 1));
    top: -10%;
    animation: meteorShower 5s linear infinite;
    opacity: 0.8;
    animation-timing-function: linear;
}

.meteor:nth-child(1) { left: 10%; animation-duration: 6s; animation-delay: 1s; }
.meteor:nth-child(2) { left: 20%; animation-duration: 7s; animation-delay: 2.5s; }
.meteor:nth-child(3) { left: 30%; animation-duration: 8s; animation-delay: 0.5s; }
.meteor:nth-child(4) { left: 40%; animation-duration: 6.5s; animation-delay: 3s; }
.meteor:nth-child(5) { left: 60%; animation-duration: 7.5s; animation-delay: 1.8s; }
.meteor:nth-child(6) { left: 80%; animation-duration: 8.5s; animation-delay: 2s; }
.meteor:nth-child(7) { left: 100%; animation-duration: 6.8s; animation-delay: 0.7s; }
.meteor:nth-child(8) { left: 110%; animation-duration: 9s; animation-delay: 4s; }
.meteor:nth-child(9) { left: 120%; animation-duration: 7.2s; animation-delay: 2.3s; }
.meteor:nth-child(10) { left: 130%; animation-duration: 8.2s; animation-delay: 3.5s; }

@keyframes meteorShower {
    0% {
        transform: translateY(0) translateX(0) rotate(45deg);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh) translateX(-50vw) rotate(45deg);
        opacity: 0;
    }
}

a {
    text-decoration: none;
}

.container, .container2{
    z-index: 2;
    width: 25rem;
    height: auto;
    border-radius: 15px;
    background-color: #2a255f;
    box-shadow: 0 0 10000px #342e7b;
    padding: 1.7rem;
    padding-bottom: 1.1rem;
    padding-top: 0.6rem;
    opacity: 0.9;
    position: relative;
}


header {
    margin: 2rem 0;
    width: 100%;
    text-align: center;
}

.loginTitle {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.5px;
    font-family: var(--main-font);
    color: white;
}

.loginContainer {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.loginContainer * {
    margin-bottom: 1.58rem;
}

.labelline {
    position: absolute;
    margin-right: 160px;
    padding: 0 5px;
    color: #8080d7;
    background-color: #2a255f;
    transition: 0.2s ease;
    font-family: var(--main-font);
}

.ll1 {
    margin-top: 16.5px;
}

.ll2 {
    margin-top: 92.5px;
    margin-right: 187px;
}

.ll3 {
    margin-top: 166.5px;
}

.ll4{
    margin-top: 241px;
    margin-left: 23px;
}

.lll2{
    margin-top: 91.5px;
    margin-right: 165px;
}

input {
    padding-right: 35px;
    padding-top: 11.5px;
    padding-bottom: 5px;
    outline: none;
    border: 2px solid #8080d7;
    width: 250px;
    line-height: 30px;
    border-radius: 10px;
    padding-left: 6px;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
}

.butSp {
    width: 100%;
    text-align: center;
}

p {
    color: white;
    font-family: var(--main-font);
    font-size: 0.9rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.signUp {
    color: #8d8dd3;
    transition: color 0.3s ease, text-decoration-thickness 0.3s ease, transform 0.3s ease;
}

.signUp:hover {
    color: white;
    font-weight: 550;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    transform: scale(1.05);
}

input[type="email"]:focus, input[type="text"]:focus, input[type="password"]:focus, input:not(:placeholder-shown), input:valid {
    color: white;
    border: 2px solid white;
}

.secondpass:focus + .ll4, .secondpass:valid + .ll4 {
    color: white;
    height: 30px;
    line-height: 30px;
    transform: translate(-13px, -32px) scale(0.8);
    z-index: 1111;
}

input[type="text"]:focus ~ .i1, input[type="text"]:focus ~ .ii1, input[type="email"]:focus ~ .i2, input[type="password"]:focus ~ .i3, input[type="password"]:focus ~ .ii2, .secondpass:focus ~ .i4,
input[type="text"]:valid ~ .i1, input[type="text"]:valid ~ .ii1, input[type="email"]:valid ~ .i2, input[type="password"]:valid ~ .i3, input[type="password"]:valid ~ .ii2, .secondpass:valid ~ .i4 
{
    color: white;
}

input[type="email"]:not(:placeholder-shown) ~ .i2{
    color: white;
}

input:focus + .labelline, input:valid + .labelline, input:not(:placeholder-shown) + .labelline{
    color: white;
    height: 30px;
    line-height: 30px;
    transform: translate(-13px, -32px) scale(0.8);
    z-index: 1111;
}

input[type="submit"] {
    background-color: #8080d7;
    border: none;
    color: #2a255f;
    cursor: pointer;
    font-size: 15px;
    width: 100px;
    padding: 0;
    font-family: var(--main-font);
    text-align: center;
}

input[type="submit"]:hover {
    transition: 0.3s ease;
    background-color: white;
    font-weight: bold;
}

i {
    position: absolute;
    margin-bottom: 10px;
    margin-left: 16rem;
    color: #8080d7;
}

.i1 {
    margin-top: 16.5px;
}

.i2 {
    margin-top: 91.5px;
}

.ii1 {
    margin-top: 16.5px;
}

.ii2 {
    margin-top: 91.5px;
}

.i3 {
    margin-top: 166.5px;
}

.i4{
    margin-top: 240.5px;
}

input::selection {
    background-color: rgba(255, 255, 255, 0.3);
}

@keyframes scaleDown {
    0% {
        transform: scale(1);
        opacity: 0;
        border-radius: 15px;
    }
    50% {
        transform: scale(0);
        border-radius: 50%;
    }
    100% {
        transform: scale(1);
        border-radius: 15px;
        opacity: 0.9;
    }
}

.container2{
    display: none;
    background-color: #2a255f;
}

#container2:target{
    animation: scaleDown 0.8s forwards;
    display: block;
}

#container2:target + #container{
    display: none;
}

#container:target{
    animation: scaleDown 0.8s forwards;
    display: block;
}

#container:target + #container2{
    display: none;
}

/* Tablet view */
@media (max-width: 768px) {

   .container, .container2 {
        font-size: 0.9em;
        margin: 4rem 0;
    }

    .loginTitle{
        font-size: 1.4em;
    }

    header{
        margin: 0.5rem 0;
    }

    .loginContainer{
        margin-top: 2rem;
    }
    
    .container2{
        height: 24rem;
        margin-bottom: 3rem;
    }

    input {
        line-height: 17px;
    }

    .ll1 {
        margin-top: 11px;
    }
    
    .ll2 {
        margin-top: 75px;
        margin-right: 187px;
    }
    
    .ll3 {
        margin-top: 137px;
    }
    
    .ll4{
        margin-top: 199px;
        margin-left: 23px;
    }
    
    .lll2{
        margin-top: 75px;
        margin-right: 165px;
    }

    .i1 {
        margin-top: 11px;
    }
    
    .ii1 {
        margin-top: 11px;
    }

    .i2 {
        margin-top: 74px;
    }
    
    .ii2 {
        margin-top: 74px;
    }
    
    .i3 {
        margin-top: 136px;
    }
    
    .i4{
        margin-top: 198px;
    }
    
    input[type="submit"] {
        line-height: 25px;
    }
}

@media (max-width: 430px) {
    .container, .container2 {
        width: 18.5rem;
        font-size: 0.8em;
    }

    .loginTitle{
        font-size: 1.4em;
    }

    header{
        margin: 1rem 0;
    }

    .loginContainer{
        margin-top: 1rem;
    }
    
    .container2{
        height: 22rem;
        margin-bottom: 3.5rem;
    }

    input {
        line-height: 15px;
    }

    .ll1 {
        margin-top: 11px;
        margin-right: 178px;
    }
    
    .ll2 {
        margin-top: 71px;
        margin-right: 196px;
    }
    
    .ll3 {
        margin-top: 132px;
        margin-right: 178px;
    }
    
    .ll4{
        margin-top: 192px;
        margin-left: 1px;
    }
    
    .lll2{
        margin-top: 71px;
        margin-right: 178px;
    }

    .i1 {
        margin-top: 11px;
        margin-right: auto;
    }
    
    .ii1 {
        margin-top: 11px;
        margin-right: auto;
    }
    
    .i2 {
        margin-top: 71px;
        margin-right: auto;
    }
    
    .ii2 {
        margin-top: 71px;
        margin-right: auto;
    }
    
    .i3 {
        margin-top: 132px;
        margin-right: auto;
    }
    
    .i4{
        margin-top: 192px;
        margin-right: auto;
    }
    
    input[type="submit"] {
        line-height: 25px;
    }
}